<card title="Horizon forbidden" cardClass="carte_promo"
subTitle="44.99€"
image="assets/page_accueil/horizon.jpg" imgClass="promo"
description="horizon ps4">
    <div>
        <p>Decouvrez le  RPG originel</p>
        <p>Une sensation de libertée jouissive</p>
        <p>Une durée de vie de 60H</p>
    </div>
</card>

<card title="Farcry 6 Xbox One" cardClass="carte_promo"
subTitle="49.99€"
image="assets/page_accueil/farcry.jpg" imgClass="promo"
description="farcry6">
    <div>
        <p>Un FPS prenant</p>
        <p>Des graphismes à couper le souffle</p>
        <p>Une durée de vie de 20H</p>
    </div>
</card>

<card title="Xbox 360 star wars" cardClass="carte_promo"
subTitle="89.99€"
image="assets/page_accueil/xboxstarwars.jfif" imgClass="promo"
description="console xbox classique">
    <div>
        <p>Processeur : Intel Pentium III 733MHz</p>
        <p>Capacité de stockage : 8GO</p>
        <p>Carte Graphique: Nvdia GeForce 3</p>
    </div>
</card>

<card title="Playstation 4 spider" cardClass="carte_promo"
subTitle="499.99€"
image="assets/page_accueil/ps4spiderman.jpg" imgClass="promos"
description="ps4 spider man edition"path="product-4">
    <div>
        <p>Processeur : AMD 8 coeurs 1.6 GHz </p>
        <p>Capacité de stockage : 1TO </p>
        <p>Carte Graphique: AMD Radeon 800 MHz </p>
    </div>

</card>