<h1>L'univers Nintendo</h1>

<div class="cards">
  <div class="cards-item">
    <card
      title="Console Neuf"
      cardClass="carte_nintendo"
      image="assets/consoleNeuf/switchOled.jpg"
      imgClass="nintendo"
      description="Switch OLED"
    >
    </card>
  </div>

  <div class="cards-item">
    <card
      title="Console d'occasion"
      cardClass="carte_nintendo"
      image="assets/consoleOccasion/ds3D.jpg"
      imgClass="nintendo"
      description="Nintendo new 3ds XL"
    >
    </card>
  </div>

  <div class="cards-item">
    <card
      title="Jeux vidéo Neuf"
      cardClass="carte_nintendo"
      image="assets/jeuxVideoNeuf/marioStriker.jpg"
      imgClass="nintendo2"
      description="marioStriker"
    >
    </card>
  </div>

  <div class="cards-item">
    <card
      title="Jeux vidéo d'occasion"
      cardClass="carte_nintendo"
      image="assets/jeuxVideoOccasion/marioSonicJo.jpg"
      imgClass="nintendo2"
      description="mario wii U"
    >
    </card>
  </div>
</div>
