<h1>L'univers Microsoft</h1>

<div class="universMicrosoft" >

  <div class="consoles">
    <div class="consolesNeuves" routerLink="/">
      
      <card 
        title="Consoles Neuves"
        cardClass=""
        image="assets/consoleNeuf/xboxX.jpg"
        imgClass="xboxCard">
      </card>
    </div>
    <div class="consolesOccasion" routerLink="/">
      <card 
        title="Consoles d'occasions"
        cardClass=""
        image="assets/consoleOccasion/Xbox1SerieLimlitee.avif" 
        imgClass="xboxCard">
      </card>
    </div>
  </div>

  <div class="jeux">
    <div class="jeuxNeufs" routerLink="/">
      <card 
        title="Jeux neufs"
        cardClass="" 
        image="assets/jeuxVideoNeuf/jeuxXboxNeuf6.jpg"
        imgClass="xboxCard">
      </card>  
    </div>
    <div class="jeuxOccasions" routerLink="/">
      <card
        title="Jeux d'occasions" 
        cardClass="" 
        image="assets/jeuxVideoOccasion/jeuxXboxOccasion6.jpg"
        imgClass="xboxCard">
      </card>
    </div>
  </div>
</div>
