<product-card></product-card>
<div class="product-card">
  <card
          cardClass="carte_promo" class="spiderPlay"
          description="ps4 spider man edition"
          image="assets/page_accueil/ps4spiderman.jpg"
          imgClass="promos"
          subTitle="499.99"
          title="Playstation 4 spider">
  </card>
  <div class="description">
    <p>Processeur : AMD 8 coeurs 1.6 GHz</p>
    <p>Capacité de stockage : 1TO</p>
    <p>Carte Graphique: AMD Radeon 800 MHz</p>
    <p>Plus élégante, plus compacte et avec une puissance dédiée aux joueurs,
      la PlayStation 4 Slim est une console de choix pour profiter d'expériences vidéoludiques dynamiques,
      connectées, rapides et aux graphismes incroyables. Découvrez des possibilités de personnalisation intelligentes,
      des applications sociales riches et intégrées, et d'innovantes fonctionnalités de second écran.
      Ses contenus sont d'une richesse inouïe, ses expériences de jeu plus prenantes que jamais,
      et chacun peut profiter d'exclusivités PlayStation et de toutes ses applications de divertissement numériques
      préférées.
      La console Sony PS4 est pensée pour tout faire.
      Cette nouvelle version de la PlayStation 4 voit son volume réduit de 30%,
      son poids allégé de 25% et une consommation d'énergie toujours plus basse.
      Elle offre également des couleurs vivantes et brillantes avec des graphismes HDR à couper le souffle.</p>
  </div>
</div>
