<div class="sony-container">
  <div class="sonyClass">
    <card title="Fifa 23 Neuve " cardClass="carte_sony" subTitle="70.99€" image="assets/page_accueil/fifa23.jpg"
      imgClass="image_sony" description="Fifa 23 ">
    </card>
  </div>
  <div class="sonyClass">
    <card title="Gta Occasion" cardClass="carte_sony" subTitle="44.99€" image="assets/page_accueil/gta.jpg"
      imgClass="image_sony" description="Gta occasion ">
    </card>
  </div>
  <div class="sonyClass">
    <card title="Playstation 5 Neuve " cardClass="carte_sony" subTitle="399.99€"
      image="assets/consoleNeuf/playstation_neuve.jpg" imgClass="image_sony" description="Playsation 5">
    </card>
  </div>
  <div class="sonyClass">
    <card title="Playstation 3 Occasion " cardClass="carte_sony" subTitle="149.99€"
      image="assets/consoleOccasion/sony_okaz.jpg" imgClass="image_sony" description="Playstation 3 ">
    </card>
  </div>
</div>
